.ProjectBackgroundImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/assets/Projects1.jpg");
  background-repeat: no-repeat;
}
.ProjectTitleContainer {
  max-width: fit-content;
  margin: 1em;
}
.ProjectTitle {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  font-family: Arial, Helvetica, sans-serif;
}

.ProjectTitle.show {
  opacity: 1;
  transform: translateY(0);
}

.ProjectTitle span {
  font-size: 2.5rem;
  color: #ffffff;
  font-weight: 400;
  line-height: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

.ProjectTitle h5 {
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: 400;
  line-height: 1em;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1em;
  letter-spacing: 0.2rem;
}

.projectOuterContainer {
  background-color: #072739;
  width: 100%;
  height: auto;
  padding: 2em;
  color: #ffffff;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5em;
  margin: 2em; /* Reduce margin to prevent excessive spacing */
  margin-bottom: 4em;
}

.ProjectImageContainer {
  width: 600px; /* Set a fixed width for the image container */
  height: 500px; /* Set a fixed height for the image container */
}

.ProjectImageContainer img {
  width: 100%; /* Ensure the image takes the full width of its container */
  height: 100%; /* Ensure the image takes the full height of its container */
  object-fit: cover; /* Cover the entire container without distortion */
}

.projectdescriptionContainer {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: flex-start;
  justify-content: flex-start;
}

.projectdescriptionContainer h1 {
  font-size: 3rem;
  letter-spacing: normal;
}

.projectdescriptionContainer h2 {
  font-size: 1.5rem;
  letter-spacing: normal;
}

.projectdescriptionContainer h3 {
  font-size: 1rem;
  line-height: 1.9rem;
  letter-spacing: normal;
}
.ProjecttextContainer {
  text-align: center;
  margin-bottom: 2em;
}
.ProjecttextContainer h1 {
  font-size: 3rem;
}

.ProjecttextContainer h3 {
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .ProjectTitle {
    letter-spacing: normal;
  }
  .projectOuterContainer {
    padding: 0;
    height: auto;
  }
  .projects {
    display: block;
    margin: 0; /* Adjust margin for smaller screens */
    text-align: start;
  }
  .projectdescriptionContainer {
    display: block;
    max-width: 100%;
    padding: 1em;
    margin-bottom: 2em;
  }
  .projectdescriptionContainer h1 {
    font-size: 2rem;
  }

  .projectdescriptionContainer h2 {
    font-size: 1.5rem;
  }

  .projectdescriptionContainer h3 {
    font-size: 1rem;
    line-height: 1.9rem;
  }

  .ProjectImageContainer {
    width: 100%; /* Set width to 100% for smaller screens */
    height: 300px; /* Set a fixed height for the image container in mobile view */
  }

  .ProjectImageContainer img {
    height: 100%; /* Ensure the image takes the full height of its container */
  }
}
