.Fcontainer {
  background-color: transparent;
  vertical-align: baseline;
  padding: 2rem;
  text-align: center;
  margin-top: 2em;
}
.Ftitle {
  font-size: 1.1rem;
  color: #777;
  font-weight: 600;
  line-height: 1.41em;
  font-family: inherit;
  cursor: pointer;
  text-decoration: none;
}
.address {
  font-size: 0.9rem;
  color: #777;
  font-weight: 400;
  line-height: 1.875em;
  font-family: inherit;
  margin: 1.2em 0;
}
.FiconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 1.2em 0;
}
.copyright {
  font-size: 0.8rem;
  color: #777;
  font-weight: 400;
  line-height: 1.875em;
  font-family: inherit;
  margin: 3em 0 0 0;
}
