.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.image {
  width: 14.625em;
  cursor: pointer;
}
.navlinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.activeLink {
  font-size: 1rem;
  color: teal;
  text-decoration: underline;
  font-weight: bold;
}
.link {
  font-size: 1rem;
  color: #777;
}

.link:hover {
  color: teal;
}

/* @media (min-width: 700px) and (max-width: 841px) {
  .container {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .image {
    display: block;
    margin: 0 auto;
  }
} */
@media (max-width: 700px) {
  .container {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .image {
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
  }
}
