.ProjectCarouselImageContainer {
    width: 600px; /* Set a fixed width for the image container */
    height: 500px; /* Set a fixed height for the image container */
  }
  
  .ProjectCarouselImageContainer img {
    width: 100%; /* Ensure the image takes the full width of its container */
    height: 100%; /* Ensure the image takes the full height of its container */
    object-fit: cover; /* Cover the entire container without distortion */
  }